// Переменные выносим сюда все цвета и размеры шрифтов
$color-black: #000;
$color-white: #fff;
$color-blue:  #0a3c79;
$color-pink: #d82286;
$color-lightblue:#8cb9ff;

$main-font-size: 20px;
$main-font-family: 'MuseoSansCyrl';

$transition-default: all 0.3s ease-in-out;
